body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans';
  overflow: hidden;
}

#mainContainer {
  display: flex;
  flex-direction: row;
}

#mainPanel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: calc(100vh - 80px);
  padding: 60px 0 20px 0;
}

#leftPanel {
  background-color: white;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
}

#rightPanel {
  background-color: white;
  border-left: 1px solid black;
}

#leftPanel,
#rightPanel {
  flex: 0 0 320px;
  height: 100vh;
  overflow-y: scroll;
}

@media (max-width: 1040px) {
  #leftPanel {
    width: 320px;
    position: fixed;
    z-index: 200;
    transition: transform 0.3s;
    overflow-y: scroll;
    top: 0;
    left: 0;
    transform: translateX(-320px);
  }
  #leftPanel.open {
    transform: translateX(0);
  }
}

@media (max-width: 720px) {
  #rightPanel {
    width: 320px;
    position: fixed;
    z-index: 200;
    transition: transform 0.3s;
    overflow-y: scroll;
    top: 0;
    right: 0;
    transform: translateX(320px);
  }

  #rightPanel.open {
    transform: translateX(0);
  }
}

@media (max-width: 320px) {
  #leftPanel,
  #rightPanel {
    width: 100%;
  }

  #rightPanel {
    transform: translateX(100%);
  }

  #leftPanel {
    transform: translateX(-100%);
  }
}
